@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

.white{
     color:white;
}

/* PULSANTE TORNA SU */

#tornasu{
     position: fixed;
     bottom: 0px;
     right: 0px;
     display: none;
     padding:10px;
     background-color:#2a0086;
     border-radius: 50%;
     z-index: 5;
     scroll-behavior: smooth;
}

#tornasu i{
     color:white;
}

#tornasu i:hover{
     color:#00C9A9;
}

/*****************/


/* .about_section .img-box img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.social .row div {
    margin-top: 20px;
}

.social .row div a:hover i{
    color:rgb(150, 230, 255);
} */

/* .hide{
     display:none!important;
} */

.slider_section .slider_bg-container {
     background: linear-gradient(135deg, rgba(163, 84, 253, 0.233) 0%, #2905df56 100%), url(/musica/wp-content/themes/music/images/sfondo2.jpg) center center no-repeat !important;
     background-size: cover !important;
 }

.slider_section .carousel-control-prev {
     background-color: #ffff;
 }

.slider_section .carousel-control-next {
     background-color: #1e025b;
 }

.slider_section .carousel-control-prev:hover,
.slider_section .carousel-control-next:hover {
     background-color: #00c9a7b4;
}
h1.title{
     text-transform: none !important;
     font-family: Parisienne,sans-serif;
}

.front-page_link a{
     color:black !important;
}

.front-page_link a:hover{
     background-color:#00C9A9!important;
     padding:3px;
     border-radius:5px;
     color:white !important;
}

i.white:hover{
     color:#00C9A9;
}


img.plus {
    position: absolute;
    bottom: 0;
    left: 0;
    height: -webkit-fill-available;
    width: 100%;
    top: 50px;
    /* border-radius: 50%; */
}

/* NAV MENU STATICO */

.header_section {
    background-color: #1e025b;
    /* background-color: #95B0B1;  */
    padding: 10px 0;
    position: relative;
    width: 100%;
    z-index: 4;
}

#navbarSupportedContent li:hover{
     background-color:#00C9A9;
     border-radius:3px;
}

/* SUB-MENU */

ul.dropdown-menu{
     background-color:#2a0086;
     border: none;
}

.dropdown-menu{
     padding:0!important;
}


/* EFFETTO ZOOM */

.zoom {
   cursor: zoom-in;
}

.zoomOpen {
   position: fixed;
   left: 0;
   top: 0;
   bottom: 0;
   right: 0;
   background: rgba(35, 12, 205, 0.16);
   padding: 25px;
   z-index: 99999;
   zoom: .85;
   opacity: 0;
   cursor: zoom-out;
}

.zoomOpen > div {
   /* background-color: transparent; */
   background-repeat: no-repeat;
   background-position: center center;
   height: 100%;
   width: 100%;
}

/*************************************/

.excerpt-link{
     display: inline-block;
     padding: 10px 35px;
     border: 1px solid ;
     background: linear-gradient(135deg, #a454fd, #2b05df);
     color: white;
     font-weight: bold;
     border-radius: 25px;
     margin-top: 35px;
}

.excerpt-link:hover{
     color:#00C9A9;
}

/*************************************/
.media-link{
     display: inline-block;
     padding: 10px 35px;
     border: 1px solid ;
     background: linear-gradient(135deg, #a454fd, #2b05df);
     color: white;
     font-weight: bold;
     border-radius: 25px;
     margin-top: 35px;
}

.media-link:hover{
     color:#00C9A9;
}

.portfolio_section{
     padding-top: 20px;
     padding-bottom: 30px;
}

.info_social i{
     color:white;
}

.info_social a:hover i{
     color:#00C9A9;
}

/*  Latest news */


/******************/

/*  NEWS  */

iframe {
     width: 100% !important;
     height: 400px;
}

.about_section p {
    margin-top: 0px!important;
}

@media screen and (min-width:990px){
     .portfolio_section img.news{
          height: 450px!important;
     }
}

.news div.card{
     height:110px;
}

.box {
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
    background: #00C9A9;
}

.news-link {
     position: absolute;
     left: 0;
     display: inline-block;
     padding: 10px 35px;
     border: 1px solid;
     background: linear-gradient(135deg, #a454fd, #2b05df);
     color: white !important;
     border-radius: 25px;
}

.d-flex.flex-column.align-items-end {
     position: relative;
 }

.news-link a{
     color:white;
     font-weight: bold;
}

.news-link:hover{
     color:#00C9A9;
}

.news-link:hover a{
     color:#00C9A9;
}

img.news {
     border-radius: 10%;
 }

/*************************/

/* MEDIA */

.media-link {
    display: inline-block;
    padding: 10px 35px;
    border: 1px solid;
    background: linear-gradient(135deg, #a454fd, #2b05df);
    color: white !important;
    border-radius: 25px;
}

.media-link a{
     color:white;
}

.media-link:hover{
     color:#00C9A9;
}

.media-link:hover a{
     color:#00C9A9;
}

.music img{
     border-radius: 20px;
     border: 2px solid #00C9A9;
}

.cit, .box-img-music {
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.cit{
     font-family: Parisienne,sans-serif;
}

.author-cit{
     font-family: sans-serif;
}

.media_music img{
     height: 100px!important;
     width: 100px!important;
     padding:5px;
}

.card-music{
     padding-bottom: 10px!important;
}
.card-music:hover{
     background-color:#00C9A9;
     border-radius:50px;
}
/*  GALLERY  */

.portfolio_section .img-box img {
    height: 220px;
}

.navigation{
     margin: 0 auto;
}

/* CONTACT ME */

.mail-link {
    margin: 0 auto;
    margin-bottom: 20px;
}

.mail-link {
    display: inline-block;
    padding: 10px 35px;
    border: 1px solid;
    background: linear-gradient(135deg, #a454fd, #2b05df);
    color: white;
    border-radius: 25px;
}

.mail-link:hover{
     color:#00C9A9;
}

/* ABOUT ME */

.about-me img{
     border-radius: 50%;
}

.about_section  .container{
     background-color: rgba(30, 2, 91, 0.308);
     border-radius:30px 0;
     padding: 10px;;
}

.about_section  .container{
     box-shadow: inset 22px 22px 22px #a454fd;
}

.detail-box.about {
     margin: 20px;
 }
/**************/


/* sfondo */

.sfondo {
    width: 100%!important;
    height: 100vh!important;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.6;
    z-index:0;
}

section.info_section{
    position: absolute;
    width: 100%;
}

.layout_padding {
  padding: 30px 0 !important;
}

.in-page{
     opacity:1!important;
     transition: all 1s cubic-bezier(.215, .61, .355, 1);
     transform: translateY(0vh) !important;
}
.portfolio_section.home{
     text-align: center;
     position: relative;
     opacity: 0;
     z-index: 1;
     transform: translateY(10vh);
}

/***********************/

.portfolio_section.home .container{
     background-color: rgba(30, 2, 91, 0.308);
     border-radius:30px 0;
     padding: 10px;;
}

.portfolio_section.home .container{
     box-shadow: 22px 22px 22px #a454fd;
}

.portfolio_section.home.news .container{
     box-shadow: -22px 22px 22px #a454fd;
}

.portfolio_section .container{
     background-color: rgba(30, 2, 91, 0.308);
     border-radius:30px 0;
     padding: 10px;;
}

.portfolio_section .container{
     box-shadow: 22px 22px 22px #a454fd;
}

.portfolio_section.news .container{
     box-shadow: -22px 22px 22px #a454fd;
}

.portfolio_section .row{
     margin-left: 10px !important;
     margin-right: 10px !important;
}

/* Pagina galleria */

.hide{
     display:none;
}

.container-cat .img-box img{
     width: 300px;
     height: 250px;
}

.container-cat {
     margin: 10px 10px;
     padding: 5%;
     border-radius: 30px 5px;
     box-shadow:inset 0px 0px 20px 20px #00c9a9;;
     background-color: #00c9a71e ;
 }